nav {
    background-color: rgb(130, 214, 165);
}

.no-gutters {
    padding-left: 30px;
    padding-top: 100px;
}

.card-img {
    height: 40%;
}

.card {
    border: 0px;
}

.card-custom {
    padding-left: 30px;
    padding-top: 100px;
}

.img-custom {
    padding-top: 20px;
}

.btn {
    line-height: 2;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: rgb(130, 214, 165);
    color: black;
    text-align: center;
  }

  .portfolio-custom {
      padding-left: 15px;
      padding-top: 100px;
      line-height: 0.5;
  }

  .container {
      margin-left: 0;
      padding-left: 15px;
  }

  h1 {
      font-size: 1.3rem;
  }

  .portfolio-images {
      margin-bottom: 10px;
  }

  .portfolio-title {
      border-bottom: 10px solid rgb(130, 214, 165);
  }